<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">
      {{user.nickname}}
    </h1>
    {{#each flashMessages.queue key="id" as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
    <form {{action "update" on="submit"}} on="submit" role="form" class="form-vertical">
      <div class="form-group">
        <label for="name">
          Name:
        </label>
        {{input id="name" placeholder="User name" value=userForm.name class="form-control"}}
      </div>
      <div class="form-group">
        <label for="email">
          Email:
        </label>
        {{input id="email" placeholder="User email" value=userForm.email type="text" class="form-control"}}
      </div>
      <div class="form-group">
        <label>
          Role:
        </label>
        {{ember-selectize content=roleOptions optionValuePath="name" optionLabelPath="name" selection=selectedRole placeholder="Select role"}}
      </div>
      {{#if isContractor}}
        <div class="form-group">
          <label>
            Project:
          </label>
          {{ember-selectize content=projects optionValuePath="id" multiple=true optionLabelPath="name" selection=selectedProjects placeholder="Select project"}}
        </div>
      {{/if}}
      <button type="submit" class="btn btn-primary">
        Save profile
      </button>
    </form>
  </div>
</div>