<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Rejected
      </th>
      <th>
        Pending
      </th>
      <th>
        Accepted
      </th>
      <th>
        Total
      </th>
      <th>
        Review status
      </th>
      <th>
        Github link
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#link-to 'project.commits' project}}
          {{project.name}}
        {{/link-to}}
      </td>
      <td>
        {{project.rejected}}
      </td>
      <td>
        {{project.pending}}
      </td>
      <td>
        {{project.accepted}}
      </td>
      <td>
        {{project.total}}
      </td>
      <td>
        {{#if project.reviewIsGood}}
          <i class="glyphicon glyphicon-ok text-success">
          </i>
        {{else}}
          <i class="glyphicon glyphicon-remove text-danger">
          </i>
        {{/if}}
      </td>
      <td>
        <a target="_blank" href={{project.url}}>
          <span class="glyphicon glyphicon-link">
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="btn-group">
  <button {{action "toggleAccepted" on="click"}} class="btn btn-default">
    {{#if hideAccepted}}
      Show accepted commits
    {{else}}
      Hide accepted commits
    {{/if}}
  </button>
  {{#link-to 'project.commits' (query-params tag="") class="btn btn-default"}}
    Clear tags
  {{/link-to}}
</div>
<br>
  <br>
    {{commits-table commits=commits currentUser=currentUser hideAccepted=hideAccepted filterByTag="filterByTag"}}
    {{page-numbers content=commits action=(action 'pageClicked')}}
