!!!
%html{dir: 'ltr', lang: I18n.locale}
  %head
    %meta{charset: 'UTF-8'}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Review app
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = include_ember_script_tags :review_front
    = include_ember_stylesheet_tags :review_front
  %body
    = yield
